name: Update Posts

on:
  schedule:
    - cron: '0 0 * * 0' 
  workflow_dispatch:

jobs:
  update_posts:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    - name: Install Python
      uses: actions/setup-python@v1.1.1
      with:
        python-version: 3.9
    - name: Install Dependencies
      run: pip install -r ./.github/scripts/requirements.txt
    - name: Update README
      run: python ./.github/scripts/update.py
      env:
        GITHUB_TOKEN: $
        GITHUB_REPOSITORY: $
